<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CREW/style.css' %}">
  <title>CREWS@IIITS</title>
</head>

<body>
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2 fixed-top">
    <div class="container">
      <a href="/Club_Admin/{{user}}" class="navbar-brand">
         <img src="/media/logo.png" style="height: 60px;width: 60px">&nbsp;Student Club Management System
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/Club_Admin/{{user}}" class="nav-link">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- DETAILS -->
  <section id="details" style="margin-top:150px">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Edit Post</h4>
            </div>
            <div class="card-body">
              <form method = "POST" action = "/CA_EditPost" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" value="{{UserPosts.post_title}}" name = "Title">
                </div>
                <div class="form-group">

                  <label for="image">Upload Image</label>
                  <div class="custom-file">
                    <input type="file" onchange="ValidateSize(this)" class="custom-file-input" id="image" name="editPost_files">
                    <label for="image" class="custom-file-label" id="post_files">Choose File</label>
                  </div>
                  <small class="form-text text-muted">Max Size 3mb</small>
                  <small class="form-text text-muted">All your previous files will be replaced with these</small>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <input type="hidden" name="ca_id" value='{{ student_data.id }}'>
                  <input type="hidden" name="p_id" value='{{ UserPosts.id }}'>
                  <textarea  class="form-control" name = "Contents" >{{UserPosts.content}}</textarea>
                </div>
                <hr>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <button  type = "submit" class="btn btn-outline-success btn-block" ><i class="fas fa-check"></i> Save Changes </button>
                    </div>
                    <div class="col-md-6">
                      <a href="/CA_DelPost/{{user}}/{{UserPosts.id}}" class="btn btn-outline-danger btn-block">
            <i class="fas fa-trash"></i> Delete Post
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-1 fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
              <h6 class="text-center">
                Copyright &copy;
                <span id="year"></span>
                Student Club Management System
              </h6>
            </div>
          </div>
        </div>
      </footer>


  
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
    var post_files;
    window.post_files="";
    function ValidateSize(file) {
        var FileSize = file.files[0].size / 1024 / 1024;
        var x = document.getElementById('post_files');
        if (FileSize > 3) {
            alert('File size exceeds 3 MB');
            this.value = "";
        }
        else
        {
          post_files = post_files + file.files[0].name +" "; 
          x.innerHTML = file.files[0].name;
        }
    }
    
  </script>
</body>

</html>