<!DOCTYPE html>
<html lang="en"
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CREW/style.css' %}">
  <title>A-11 Frontend</title>
  <style>
    body
    {
      overflow-x: hidden;
    }
    .card{
      transition: 0.3s;
    }
    .card:hover {
       box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">
    <div class="container">
      <a href="/" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">Student Club Management System</a>
    </div>
  </nav>

  <!-- LOGIN -->
  <section id="login">
    <div class="mx-auto">
      <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="container">
                <br>
                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#home">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu1">CREATORS</a>
                  </li>
                  
                </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active" style="padding: 35px 60px 85px 100px;"><br>
        <h2 class="text-center">ALL ABOUT IT!</h2>
        <hr>
        <p style=" text-align: justify;text-justify: inter-word;font-size: 18px;">CREWS - Student Club Management System is an application used by students, faculty and staff to schedule and manage events of student clubs at <a href="https://iiits.ac.in" target="_blank">Indian Institute of Information Technology, Sri City.</a>
        It enables club administrators to interact with the participants in their respective clubs. All the announcements, polls etc. are handled easily.

        <br><br>
        Made under the guidance of <a href="#">Uma Garimella</a>, <a href="#">Dr. Subramaniam</a> and <a href="#">Nagesh Kolagani</a>.
        </p>
        <hr>

      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <div class="container">
          <div class="row justify-content-center" style="margin-top: 30px;">
            
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Vinoothna</h5>
                  <hr>
                  <a href="https://www.facebook.com/kinnera.vinoothna" target="_blank" class="card-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" title="vinoothna.kinnera@gmail.com" class="card-link"><i class="far fa-envelope"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Chandhana</h5>
                  <hr>
                  <a href="#" class="card-link"><i class="far fa-envelope"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Prudhvi</h5>
                  <hr>
                  <a href="https://www.facebook.com/prudhvi.krishna.9" class="card-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="card-link"><i class="far fa-envelope"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Rahul</h5>
                  <hr>
                  <a href="#" class="card-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="card-link"><i class="far fa-envelope"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Sachin</h5>
                  <hr>
                  <a href="#" class="card-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="card-link"><i class="far fa-envelope"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
                  <a href="#" class="card-link"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          
          </div>  
        </div>
      </div>
      
    
    </div>
              </div>
        </div>
        <div class="col-md-5 mx-0" style="margin-top: 100px;">
        <div class="container" style="width: 400px;">
            <div class="card">
              <div class="card-header">
                <h4>Account Login</h4>
              </div>
              <div class="card-body">
                <form action="{% url 'login' %}" method="POST">
                  {% if error %}
                      <p style="color:red"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{error}}</p>
                  {% endif %}
                  <div class="form-group">
                    <label for="email">Email</label>
                    {% csrf_token %}
                    <input type="text" class="form-control" name="emailId">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    {% csrf_token %}
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div  class="btn btn-outline-light btn-sm" >
                  <a href="https://serene-wildwood-35121.herokuapp.com/login/5bd4a72c4789560015311a2c">Login With IIITS</a>
                  </a></div>
                  <input type="submit" value="Login" class="btn btn-primary btn-block">
                </form>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-1 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h6 class="text-center">
            Copyright &copy;
            <span id="year"></span>
            Student Club Management System
          </h6>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>


  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>
