<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'CREW/style.css' %}">
  <title>CREWS@IIITS</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2 fixed-top">
    <div class="container">
      <a href="/Club_Admin/{{user}}" class="navbar-brand">
        <img src="/media/logo.png" style="height: 60px;width: 60px">&nbsp;Student Club Management System
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/Club_Admin/{{user}}" class="nav-link">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER 
  <header id="main-header" class="py-2 bg-primary text-white fixed-top" style="margin-top:55px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><i class="fas fa-pencil-alt"></i> Posts</h2>
        </div>
      </div>
    </div>
  </header> -->

  <!-- SEARCH 
    <section id="search" class="py-4 mb-4 bg-light fixed-top" style="margin-top:110px">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="/Club_Admin/{{user}}" class="btn btn-light btn-block">
              <i class="fas fa-arrow-left"></i> Back To Dashboard
            </a>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Posts...">
              <div class="input-group-append">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  <!-- POSTS -->
  <section id="posts" style="margin-top:150px">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            {% if UserPosts %}
            <table class="table">
                <thead class="thead-dark">
                  <th colspan="5"><h4>My Posts</h4></th>
                </thead>

                  <tr class="bg-light">
                    <th>#</th>
                    <th>Title</th>
                    <th>Club Name</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                
                <tbody>
                  {% for i in UserPosts %}
                    {% for j in clubs %}
                       {% if i.club_id.id == j.id %} 
                          <tr>
                            
                            <td>{{i.id}}</td>
                            <td>{{i.post_title}}</td>
                            <td>{{j.club_name}}</td>
                            <td>{{i.post_datetime}}</td>
                            <td>
                               <a href="/CA_post_Details/{{user}}/{{i.id}}">
                              <input type = "button" class="btn btn-outline-dark btn-block" value="Details" name = "Details" style="width:100px;"></td>
                              </a>
                          </tr>
                       {% endif %}
                    {% endfor %}
                  {% endfor %}
                     
                    </td>
                  </tr>
                </tbody>
            </table>
            {% else %}
            <h5> No posts </h5>
            {% endif %}

            
  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-1 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h6 class="text-center">
            Copyright &copy;
            <span id="year"></span>
            Student Club Management System
          </h6>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>


  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>