<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CREW/style.css' %}">
  <title>CREWS@IIITS</title>
  <style>
    #ringing_bell
      {
        animation: moveIt 2.5s ease-in-out infinite;
        display:inline-block;
      }
      @keyframes moveIt {
        0%, 100% {
          transform: rotate(45deg);
        }
        50% {
          transform: rotate(-45deg);
        }
      }
    select {
      font-family: 'FontAwesome', 'Second Font name';
    }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      
    }
    .upload-btn-wrapper input[type=file] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
    ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        #no_notif,#poll
      {
        background-color: #c75858;
        border-radius: 24px;
        box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, .3);
        color: #fff;
        cursor: default;
        font-size: 13px;
        height: 24px;
        line-height: 24px;
        position: absolute;
        right: 4px;
        text-align: center;
        top: -7px;
        width: 24px;
      }
  </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark p-2">
    <div class="container">
      <!-- CHANGE THE HREFS -->
      <a href="/Super_Admin/{{user.id}}" class="navbar-brand">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="height: 60px;width: 60px">&nbsp;Student Club Management System
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/Super_Admin/{{user.id}}" class="nav-link">
              <i class="fas fa-home"></i> Home
            </a>
          </li>
          
          <li class="nav-item">
            <a href="/super_admin_profile/{{user.id}}" class="nav-link">
              <i class="fas fa-user"></i> {{user.user_name}}
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-dark fixed-top" style="margin-top: 75px">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addClubModal" >
               Add a Club
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#removeClubModal">
              Remove a Club
            </a>
          </div>
          <div class="col-md-2 text-white">
            <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#conductPollModal">
              Conduct Polls
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#addPostModal">
              Upload Post
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-info btn-block" data-toggle="modal" data-target="#orgEventModal">
              Organize Event
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-light btn-block" data-toggle="modal" data-target="#notificationModal">
              {% if new_notif_no != 0 %}  
                  <i class="fas fa-bell" id="ringing_bell"></i>
                  <span id="no_notif">
                    {{new_notif_no}}
                  </span>
                {% else %}
                  <i class="fas fa-bell" id="bell"></i>
                {% endif %}&nbsp;Notifications
            </a>
          </div>

        </div>
      </div>
    </section>

  <!-- POSTS -->
  <section id="posts" style="margin-top: 150px">
    <div class="container">
      <div class="row justify-content-center">
        <!-- FEED -->
          <div class="col-md-7" style="border:none;">
            <div class="card mt-4" style="overflow-y: auto;height: 60vh;border:none;padding:10px;">
              <b><p><i>Post by others</i><p></b>
                  {% if posts %}  
                    {% for i in posts %}
                      <div style="border-radius: 2px;margin-bottom: 15px;padding:20px;box-shadow: 0 0 20px rgba(0,0,0,0.2)">
                        {% if i.posted_by_id.user_dp %}
                          <img style="width:55px;height:55px;float: left;border-radius: 50%;margin-right: 15px;" src = "{{i.posted_by_id.user_dp.url}}";>
                        {% else %}
                          <img style="width:55px;height:55px;float: left;border-radius: 50%;margin-right: 15px;" src="/media/avatar.png">
                        {% endif %}
                        <b><p style="margin-top: 1px;font-size: 18px;">{{i.posted_by_id.user_name}}<br><small>{{i.post_datetime}}</small></p></b>
                        <hr>

                        <b><p style="">{{i.post_title}}</p></b>
                        <p>{{i.content}}</p>
                        
                        <div style="width:40vw;max-height:400px;margin-bottom: 30px;display:inline-flex;flex-direction: row;overflow-x: auto;overflow-y: hidden;padding-bottom: 5px;">
                          {% for j in posts_media %}
                            {% if i.id == j.post_id.id %}
                              <div>                         
                                <img src="{{media_url}}{{j.media}}" style="width: 40vw;height: 330px">
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        
                        <form method="POST" action="{% url 'like' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                          <input type="submit" value="&#xf164" name="like" class="far fa-thumbs-up" id="like" style="background-color: transparent;border:none;transform: scale(1.3);cursor: pointer;">  
                        </form>

                        <form method="POST" action="{% url 'dislike' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                          <input type="submit" value="&#xf165" name="like" class="far fa-thumbs-down" id="dislike" style="background-color: transparent;border:none;transform: scale(1.3);cursor: pointer;">        
                        </form>

                        <hr>
                        <form method="POST" action="{% url 'comments' %}">
                          {% csrf_token %}
                          <div class="input-group mt-2">
                             <input type="text" class="form-control" placeholder="Leave a comment" name ='comment_content' style="border-radius: 20px;">
                             <span class="input-group-btn">
                                  <!--<input class="btn btn-default" value="Comment" type="submit">-->
                                  <button type="submit" style="background-color: transparent;border:none;transform: scale(1.6);margin: 5px;cursor: pointer;">
                                    <i class="fas fa-arrow-alt-circle-right"></i>
                                  </button>
                                  <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                                  <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                             </span>
                          </div>
                        </form>
                        
                        <br>
                        {% for j in post_comments %} 
                          {% if i.id == j.post_id.id %}
                            <div class="media mb-4">
                              <img class="d-flex mr-3 rounded-circle" src="" alt="" width="30" height="30" style="background-image: url('{{j.user_id.user_dp.url}}');">
                              <div class="media-body">
                                <h6 class="mt-0">{{j.user_id.user_name}}</h6>
                                <p>{{j.content}}</p>
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}                  
                      </div>
                      
                    {% endfor %}
                  {% else %}
                    <p>No posts here</p>
                  {% endif %}
                  <hr>
                  
                  <b><p><i>My Posts</i><p></b>
                  {% if my_posts %}
                    {% for i in my_posts %}
                      <div style="border-radius: 2px;margin-bottom: 15px;padding:20px;box-shadow: 0 0 20px rgba(0,0,0,0.2)">
                        {% if i.posted_by_id.user_dp %}
                          <img style="width:55px;height:55px;float: left;border-radius: 50%;margin-right: 15px;" src = "{{i.posted_by_id.user_dp.url}}";>
                        {% else %}
                          <img style="width:55px;height:55px;float: left;border-radius: 50%;margin-right: 15px;" src="/media/avatar.png">
                        {% endif %}
                        <b><p style="margin-top: 1px;font-size: 18px;">{{i.posted_by_id.user_name}}<br><small>{{i.post_datetime}}</small></p></b>
                        <hr>

                        <b><p style="">{{i.post_title}}</p></b>
                        <p>{{i.content}}</p>
                        
                        <div style="width:40vw;max-height:400px;margin-bottom: 30px;display:inline-flex;flex-direction: row;overflow-x: auto;overflow-y: hidden;padding-bottom: 5px;">
                          {% for j in posts_media %}
                            {% if i.id == j.post_id.id %}
                              <div>                         
                                <img src="{{media_url}}{{j.media}}" style="width: 40vw;height: 330px">
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        
                        <form method="POST" action="{% url 'like' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                              <input type="submit" value="&#xf164" id="" name="like" class="far fa-thumbs-up" style="background-color: transparent;border:none;transform: scale(1.3);cursor: pointer;">  
                              
                        </form>

                        <form method="POST" action="{% url 'dislike' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                          <input type="submit" value="&#xf165" name="like" class="far fa-thumbs-down" style="background-color: transparent;border:none;transform: scale(1.3);cursor: pointer;">        
                        </form>

                        <hr>
                        <form method="POST" action="{% url 'comments' %}">
                          {% csrf_token %}
                          <div class="input-group mt-2">
                             <input type="text" class="form-control" placeholder="Leave a comment" name ='comment_content' style="border-radius: 20px;">
                             <span class="input-group-btn">
                                  <!--<input class="btn btn-default" value="Comment" type="submit">-->
                                  <button type="submit" style="background-color: transparent;border:none;transform: scale(1.6);margin: 5px;cursor: pointer;">
                                    <i class="fas fa-arrow-alt-circle-right"></i>
                                  </button>
                                  <input type="number" name="ca_id" value="{{user.id}}" style="display:none">
                                  <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                             </span>
                          </div>
                        </form>
                        
                        <br>
                        {% for j in post_comments %} 
                          {% if i.id == j.post_id.id %}
                            <div class="media mb-4">
                              <img class="d-flex mr-3 rounded-circle" src="" alt="" width="30" height="30" style="background-image: url('{{j.user_id.user_dp.url}}');">
                              <div class="media-body">
                                <h6 class="mt-0">{{j.user_id.user_name}}</h6>
                                <p>{{j.content}}</p>
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}                  
                      </div>
                      
                    {% endfor %}
                  {% else %}
                    <p>No posts here</p>
                  {% endif %}
            </div>
          </div>
        
        <!-- FLASH CARDS -->
          <div class="col-md-3">
            <br>
            <div class="card text-center bg-primary text-white mb-3 flash_card" style="width:200px;margin-top: 15px;">
              <div class="card-body" style="margin-bottom: 30px;">
                <h5>Clubs In</h5>
                    <h4 class="display-6">
                      <i class="fas fa-users"></i> {{clubs_no}}
                    </h4>
                      
                     <form action="{% url 'SA_clubs' %}" method="POST">
                        {% csrf_token %}    
                        <input type="text" value="{{user.id}}" style="display:none" name="sa_id">
                        <input type="submit" value="View" class="btn btn-outline-light btn-sm">
                      </form>
              </div>
            </div>

            <div class="card text-center bg-success text-white mb-3 flash_card" style="width:200px;">
              <div class="card-body">
                <h5>Events</h5>
                <h4 class="display-6">
                  <i class="fas fa-folder"></i> {{events_no}}
                </h4>
                <form action="{% url 'SA_events' %}" method="POST">
                        {% csrf_token %}    
                        <input type="text" value="{{user.id}}" style="display:none" name="sa_id">
                        <input type="submit" value="View" class="btn btn-outline-light btn-sm">
                      </form>
              </div>
            </div>

            <div class="card text-center bg-warning text-white mb-3 flash_card" style="width:200px;">
              <div class="card-body">
                <h5>My Posts</h5>
                <h4 class="display-6">
                  <i class="fas fa-pencil-alt"></i> {{myposts_count}}
                </h4>
                <a href="/super_admin_posts/{{user.id}}" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-1 fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <h6 class="text-center">
              Copyright &copy;
              <span id="year"></span>
              Student Club Management System
            </h6>
          </div>
        </div>
      </div>
    </footer>

  <!-- MODALS -->

    <!-- ADD CLUB MODAL -->
      <div class="modal fade" id="addClubModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title">Add a Club</h5>
              <button class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'add_club' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Club Name</label>
                  <input type="text" class="form-control" name="club_name">
                </div>
                <div class="form-group">
                  <label for="title">Description</label>
                  <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
                </div>
                <div class="form-group">
                  <label for="image">T&amp;C Document </label>
                  <div class="custom-file">
                    <input type="file" onchange="ValidateSize(this,'add_club_T&C')" class="custom-file-input" id="image" name="tc_doc" required>
                    <label for="image" class="custom-file-label" id="club_T&C">--Choose File--</label>
                  </div>
                  <small class="form-text text-muted">Max Size 3mb</small>
                </div>
                <div class="form-group">
                  <label for="image">Icon </label>
                  <div class="custom-file">
                    <input type="file" onchange="ValidateSize(this,'club_icon')" class="custom-file-input" id="image" name="club_icon" required>
                    <label for="image" class="custom-file-label" id="club_icon">--Choose Image--</label>
                  </div>
                  <small class="form-text text-muted">Max Size 3mb</small>
                  <input type="number" value="{{user.id}}" name="sa_id" style="display: none">
                  <hr>
                  <input type="submit" class="btn btn-primary btn-block" value="Add">
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>

    <!-- REMOVE CLUB MODAL -->
      <div class="modal fade" id="removeClubModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-success text-white">
              <h5 class="modal-title">Remove a Club</h5>
              <button class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'remove_club' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="category">Club</label>
                  <select class="form-control" name = "club_removed" required>                        
                          {% for j in all_clubs %} 
                            {% if j.club_active_status == True %}                           
                              <option value="{{j.club_name}}">{{j.club_name}}</option>
                            {% endif %}                            
                          {% endfor %}                       
                  </select>
                  <input type="number" value="{{user.id}}" name="sa_id" style="display: none">
                  <hr>
                  <input type="submit" class="btn btn-success btn-block" value="Remove" style="align-items: right ">
                </div>
                
              </form>
            </div>
            
          </div>
        </div>
      </div>

    <!-- ADD POST MODAL -->
        <div class="modal fade" id="addPostModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Upload Post</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data"> 
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="title" >Title</label>
                    <input type="text" name='post_title' class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="image">Choose File</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="image" name="File" multiple onchange="ValidateSize(this,'post_files')">
                      <label for="image" class="custom-file-label" id="post_files">--File--</label>
                    </div>
                    <small class="form-text text-muted">Max Size 3mb</small>
                  </div>
                  <div class="form-group">
                    <label for="body">Content</label>
                    <textarea name="content" class="form-control"></textarea>
                  </div>
                  <input type="number" value="{{user.id}}" style="display:none" name="sa_id">
                  <input type="submit" value="Post" class="btn btn-danger btn-block">
                </form>
              
              </div>
            </div>
          </div>
        </div>

    <!-- CONDUCT POLL MODAL -->
      <div class="modal fade" id="conductPollModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">Conduct Poll</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'conduct_poll' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Title</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter the title" name="poll_title">
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Description</span>
                        </div>
                        <textarea class="form-control" placeholder="Poll description" name="poll_description"></textarea>
                      </div>


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Start DateTime</span>
                        </div>
                        <input type="datetime-local" class="form-control" name="poll_start">
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">End DateTime&nbsp;</span>
                        </div>
                        <input type="datetime-local" class="form-control" name="poll_end">
                      </div>

                      <div class="input-group mb-3">
                        <div class="container-fluid row" >
                          <div class="col-md-10 options_space" >
                            
                            <div class="input-group mb-3 option" id="option1">
                              <input type="text" class="form-control" name="opt1_title" placeholder="opt1_title">
                              <div class="upload-btn-wrapper btn btn-warning">
                                <i class="far fa-image"></i>
                                
                                  <input type="file" id="image" name="opt1_img">
                                
                              </div>
                            </div>
                          
                          </div>
                          <div class="col-md-2">   
                            <select class="form-control" name="pollOption_type" style="width:120px;">
                              <option value="Multiple">Checkbox</option>
                              <option value="Single">RadioBtn</option>
                            </select>
                            <a class="btn btn-light" id="add_poll_option">
                              <i class="fas fa-plus"></i>
                            </a>
                            <a class="btn btn-light" id="remove_poll_option">
                              <i class="fas fa-minus"></i>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" class="btn btn-warning" value="Conduct">
                    </div>
                    <input type="number" name="no_of_options" style="display:none;" value="1" id="no_of_options">
                    <input type="number" name="sa_id" style="display:none;" value="{{user.id}}">
                </form>
                
              </div>
              
            </div>
          </div>
        </div>

    <!-- ORGANIZE EVENT  MODAL -->
      <div class="modal fade" id="orgEventModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-info text-white">
              <h5 class="modal-title">Organize Event</h5>
              <button class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'organize_event' %}" method="POST">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" >Title</span>
                    </div>
                    <input type="text" class="form-control" name="event_title" placeholder="Enter the title">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Description" name="event_description"></textarea>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Start DateTime</span>
                    </div>
                    <input type="datetime-local" class="form-control" name="start_datetime">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">End DateTime&nbsp;</span>
                    </div>
                    <input type="datetime-local" class="form-control" name="end_datetime">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Room No.&nbsp;</span>
                    </div>
                    <select class="form-control" name="room">
                      {% for r in rooms %}
                        <option value="{{r.room_num}}">{{r.room_num}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Type&nbsp;</span>
                    </div>
                    <input type="text" class="form-control" name="type">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Host&nbsp;</span>
                    </div>
                    <input type="text" class="form-control" name="host">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Limit&nbsp;</span>
                    </div>
                    <input type="text" class="form-control" name="limit">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Duration&nbsp;</span>
                    </div>
                    <input type="text" class="form-control" name="duration">
                  </div>
                  <div class="form-group">
                    <label for="image">Choose File</label>
                    <div class="custom-file">
                      <input type="file" onchange="ValidateSize(this,'organize_event')" class="custom-file-input" id="image" name="event_media">
                      <label for="image" class="custom-file-label" id="event_files">--File--</label>
                    </div>
                    <small class="form-text text-muted">Max Size 3mb</small>
                  </div>
                  <div class="modal-footer">
                    <input type="number" value="{{user.id}}" name="sa_id" style="display:none">
                    <input type="submit" class="btn btn-info btn-block"  data-toggle="modal" value='Organize'>
                   </div>
                </form>
              </div>
          </div>
        </div>
      </div>

    <!-- NOTIFICATION MODAL -->
        <div class="modal fade" id="notificationModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Notifications</h5>
               
                <form action="{% url 'notifications_seen' %}" method="POST" >
                  {% csrf_token %}
                  <input type="number" name="sa_id" value="{{user.id}}" style="display:none">
                  <button type="submit" class="btn bg-dark">
                    <i class="fa fa-times" aria-hidden="true" style="color: white;font-size:20px"></i>
                  </button>
                </form>
              </div>
                
              <div class="modal-body">
                <b><h5> NEW </h5></b>
                <hr>
                <br>
                {% for notif in new_notifications %}
                  <div class="card">
                    <div class="card-body">
                      <b><p class="card-title">{{notif.notification_content}}</p></b>
                      <p class="card-text">{{notif.notification_datetime}}</p>
                    </div>
                  </div>
                {% endfor %}
                <br>
                <h5> EARLIER </h5>
                <hr>
                {% for notif in old_notifications %}
                  <div class="card">
                    <div class="card-body">
                      <b><h6 class="card-title">{{notif.notification_content}}</h6></b>
                      <p class="card-text"style="font-size: 14px">{{notif.notification_datetime}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

  

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  

  <script>
     
    // Add options to the polls 
    $('#add_poll_option').click(function(){
      var id = ($('.option').length + 1).toString();
      $('.options_space').append('<div class="input-group mb-3 option" id="option'+id+'"><input type="text" class="form-control" name="opt'+id+'_title" placeholder="option'+id+'"><div class="upload-btn-wrapper btn btn-warning"><i class="far fa-image"></i><input type="file" name="opt'+id+'_img" ></div></div>');
      $('#no_of_options').val(id);
    });

    // Remove Options
    $('#remove_poll_option').click(function(){
      var id = ($('.option').length).toString();
      var total_options = ($('.option').length - 1).toString(); 
      $('#no_of_options').val(total_options);
      $('#option'+id).remove();
    });


    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
    
    $('.close').click(function(){
      var $target = $(this).parents('.card');
      $target.hide('slow', function(){ $target.remove(); });
    })

    var post_files;
    var event_files;
    var club_TC_files;
    var club_icon_files;
    window.post_files ="";
    window.event_files ="";
    window.club_TC_files ="";
    window.club_icon_files ="";
    function ValidateSize(file,loc) 
    {
        var FileSize = file.files[0].size / 1024 / 1024;
        if(loc == "add_club_T&C")
        {
          x = document.getElementById('club_T&C');  
          if (FileSize > 3) {
            alert('File size exceeds 3 MB');
            this.value = "";
           // $(file).val(''); //for clearing with Jquery
          }
          else
          {
            club_TC_files = club_TC_files + file.files[0].name +" "; 
            x.innerHTML = club_TC_files;
          }
        }
        else if(loc == "club_icon")
        {
          x = document.getElementById('club_icon');  
          if (FileSize > 3) {
            alert('File size exceeds 3 MB');
            this.value = "";
           // $(file).val(''); //for clearing with Jquery
          }
          else
          {
            club_icon_files = club_icon_files + file.files[0].name +" "; 
            x.innerHTML = club_icon_files;
          }
        }
        else if(loc == "post_files")
        {
          x = document.getElementById('post_files');  
          if (FileSize > 3) {
            alert('File size exceeds 3 MB');
            this.value = "";
           // $(file).val(''); //for clearing with Jquery
          }
          else
          {
            post_files = post_files + file.files[0].name +" "; 
            x.innerHTML = post_files;
          }
        }
        else if(loc == "organize_event")
        {
          x = document.getElementById('event_files');  
          if (FileSize > 3) {
            alert('File size exceeds 3 MB');
            this.value = "";
           // $(file).val(''); //for clearing with Jquery
          }
          else
          {
            event_files = event_files + file.files[0].name +" "; 
            x.innerHTML = event_files;
          }
        }
           
    }




  </script>
</body>

</html>
