<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CREW/style.css' %}">
    <title>A11 Frontend</title>
    <style>
      #ringing_bell
      {
        animation: moveIt 2.5s ease-in-out infinite;
        display:inline-block;
      }
      @keyframes moveIt {
        0%, 100% {
          transform: rotate(45deg);
        }
        50% {
          transform: rotate(-45deg);
        }
      }
      #join_club_modal {
        max-width: 80% !important;
      }
      #no_notif,#poll
      {
        background-color: #c75858;
        border-radius: 24px;
        box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, .3);
        color: #fff;
        cursor: default;
        font-size: 13px;
        height: 24px;
        line-height: 24px;
        position: absolute;
        right: 4px;
        text-align: center;
        top: -7px;
        width: 24px;
      }
      /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
         #overlay {
            position: fixed;
            display: none;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index:3;
            cursor: pointer;
        }
        .carousel-inner > .carousel-item > img {
          width : 500px;
          height : 500px;
          margin-top: 10%;
        }
        #close_button{
          top: 20px;
          right: 10px;
          position: fixed;
          z-index: 3;
        }
        
    </style>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">
      <div class="container">
        <a href="/student/{{user.id}}" class="navbar-brand">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="height: 60px;width: 60px">Student Club Management System
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/student/{{user.id}}" class="nav-link">
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a href="/student_profile/{{user.id}}" class="nav-link">
                <i class="fas fa-user"></i> {{user.user_name}}
              </a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">
                <i class="fas fa-user-times"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="main-header" class="py-2 bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <i> Hi {{user.user_name}}</i>
          </div>
        </div>
      </div>
    </header>

    <!-- ACTIONS -->
      <section id="actions" class="py-4 mb-4 bg-dark fixed-top" style="margin-top:90px;z-index: 0;">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#joinClubModal">
                 Join a Club
              </a>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#leaveClubModal">
                 Leave a Club
              </a>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-info btn-block" data-toggle="modal" data-target="#registerEventModal">
                 Register for Event
              </a>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#addPostModal">
                Create Post
              </a>
            </div>

            <div class="col-md-2">
              <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#participatePollModal">
                {% if no_of_polls != 0 %}  
                  <span id="poll">
                    {{no_of_polls}}
                  </span>
                {% endif %}Cast your vote
              </a>
            </div>
            
            <div class="col-md-2">
              <a href="#" class="btn btn-light btn-block" data-toggle="modal" data-target="#notificationModal" id="NotifButton">
                {% if new_notif_no != 0 %}  
                  <i class="fas fa-bell" id="ringing_bell"></i>
                  <span id="no_notif">
                    {{new_notif_no}}
                  </span>
                {% else %}
                  <i class="fas fa-bell" id="bell"></i>
                {% endif %}&nbsp;Notifications
              </a>
            </div>
          </div>
        </div>
      </section>

    <!-- POSTS -->
      <section id="posts" style="margin-top:110px">
        <div class="container" >
          <div class="row">
            <div class="col-md-9"  style="background-color: rgba(0,0,0,0.1)">
              <div class="card mt-4">
                <div class="container" >
                  <div class="row" style="overflow-y: auto;height: 426px;" >
                    {% for i in posts %}
                      <div class="col-lg-12">
                        <div class="float-right">
                          <a onclick="on()">
                            <i class="fas fa-image" style="font-size: 36px;"></i>
                          </a>
                        </div>
                        <img class="img-circle mt-2 rounded-circle" width="50" height="50" alt="" style="float: left;background-image: url('{{i.posted_by_id.user_dp.url}}');border-radius: 50%"><h5 class="mt-3">&nbsp;&nbsp;{{i.post_title}} <small>by {{i.posted_by_id.user_name}} on {{i.post_datetime}}</small></h5>                    
                        <br>
                        <p>{{i.content}}</p>
                        <div id="overlay">                          
                            <div id="demo" class="carousel slide" data-ride="carousel">  
                                                      
                                <div class="carousel-inner">
                                  <div id="close_button">
                                    <a onclick="off()">
                                      <i class="fas fa-times" style="color: grey;font-size: 36px;"></i>
                                    </a>
                                  </div>
                                  {% for j in posts_media %}
                                      {% if i.id == j.post_id.id %}
                                        <div class="carousel-item active">                         
                                          <img class="d-block mx-auto" src="{{media_url}}{{j.media}}"  alt="">
                                        </div>
                                      {% endif %}
                                  {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                  <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </a>
                              </div>
                        </div>  
                        
                        <form method="POST" action="{% url 'like' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                          <input type="submit" value="&#xf164" name="like" class="fas fa-thumbs-up" >                        
                        </form>
                        <form method="POST" action="{% url 'dislike' %}" style="display: inline-block;">
                          {% csrf_token %}
                          <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                          <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                          <input type="submit" value="&#xf165" name="like" class="fas fa-thumbs-down" >                        
                        </form>
                        <form method="POST" action="{% url 'comments' %}">
                          {% csrf_token %}
                          <div class="input-group mt-2">
                             <input type="text" class="form-control" placeholder="Leave a comment" name ='comment_content'>
                             <span class="input-group-btn">
                                  <input class="btn btn-default" value="Comment" type="submit" >
                                  <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                                  <input  value="{{i.id}}" type="number" name ='post_id' style="display: none;">
                             </span>
                          </div>
                        </form>
                        <br>
                        {% for j in post_comments %} 
                          {% if i.id == j.post_id.id %}
                            <div class="media mb-4">
                              <img class="d-flex mr-3 rounded-circle" src="" alt="" width="30" height="30" style="background-image: url('{{j.user_id.user_dp.url}}');">
                              <div class="media-body">
                                <h6 class="mt-0">{{j.user_id.user_name}}</h6>
                                <p>{{j.content}}</p>
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}                  
                      </div>
                      <div class="container">
                        <div class="well well-sm col-lg-12" style="height:5px;width:100%;background-color: rgba(0,0,0,0.1);"></div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="card text-center bg-primary text-white mb-3 flash_card">
                <div class="card-body">
                  <h5>Clubs In</h5>
                  <h4 class="display-6">
                    <i class="fas fa-users"></i> {{clubs_no}}
                  </h4>
                    
                    <form action="{% url 'clubs_joined' %}" method="POST">
                      {% csrf_token %}    
                      <input type="text" value="{{user.id}}" style="display:none" name="s_id">
                      <input type="submit" value="View" class="btn btn-outline-light btn-sm">
                    </form>
                  
                </div>
              </div>

              <div class="card text-center bg-success text-white mb-3 flash_card">
                <div class="card-body">
                  <h5>My Events</h5>
                  <h4 class="display-6">
                    <i class="fas fa-folder"></i> {{no_events_registered}}
                  </h4>
                  <form action="{% url 'events_registered' %}" method="POST">
                    {% csrf_token %}    
                    <input type="text" value="{{user.id}}" style="display:none" name="s_id">
                    <input type="submit" value="View" class="btn btn-outline-light btn-sm">
                  </form>
                  
                </div>
              </div>

              <div class="card text-center bg-warning text-white mb-3 flash_card">
                <div class="card-body">
                  <h5>My Posts</h5>
                  <h4 class="display-6">
                    <i class="fas fa-pencil-alt"></i> {{myposts_count}}
                  </h4>
                  <a href="/postsUploaded/{{user.id}}" class="btn btn-outline-light btn-sm">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- FOOTER -->
      <footer id="main-footer" class="bg-dark text-white mt-5 p-1 fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col">
              <h6 class="text-center">
                Copyright &copy;
                <span id="year"></span>
                Student Club Management System
              </h6>
            </div>
          </div>
        </div>
      </footer>

    <!-- MODALS -->

      <!-- ADD POST MODAL -->
        <div class="modal fade" id="addPostModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Upload Post</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data"> 
                  <div class="form-group">
                    <label for="title" >Title</label>
                    <input type="text" name='post_title' class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="category">Club</label>
                    {% csrf_token %}
                    <select class="form-control" name="Club">
                      {% for i in clubs_joined %}
                        {% for j in clubs %}
                          {% if i == j.id %}
                            <option value="{{j.club_name}}">{{j.club_name}}</option>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="image">Choose File</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="image" name="File" multiple>
                      <label for="image" class="custom-file-label">--File--</label>
                    </div>
                    <small class="form-text text-muted">Max Size 3mb</small>
                  </div>
                  <div class="form-group">
                    <label for="body">Content</label>
                    <textarea name="content" class="form-control"></textarea>
                  </div>
                  <input type="number" value="{{user.id}}" style="display:none" name="s_id">
                  <input type="submit" value="Post" class="btn btn-danger btn-block">
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- LEAVE CLUB MODAL -->
        <div class="modal fade" id="leaveClubModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">Leave a Club</h5>
                  <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% if clubs_joined   %}
                    <form action="{% url 'leave_club' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="category">Club</label>
                      <select class="form-control" name = "club_left" required>
                        {% for i in clubs_joined %}
                          {% for j in clubs %}
                            {% if i == j.id %}
                              <option value="{{j.club_name}}">{{j.club_name}}</option>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="reason" rows="5" id="comment" placeholder="Can you tell us the reason?(optional)"></textarea>
                    </div>

                    {% else %}
                    Please join any club
                  {% endif %}
                  
                </div>
                
                {% if clubs_joined %}
                  <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                  <div class="modal-footer">
                     <input class="btn btn-warning" value="Leave" type="submit">
                  </div>
                {% endif %}
                </form>
              </div>
            </div>
        </div>

      <!-- REGISTER FOR EVENT MODAL -->
        <div class="modal fade" id="registerEventModal">
          <div class="modal-dialog modal-lg" id="join_club_modal">
            <div class="modal-content" style="width:90%">
              <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Register for an event</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'register_event' %}" method="POST">
                  {% csrf_token %}
                  <div class="container-fluid row" style="height:60vh;position:relative">
                    <div class="col-md-3 select_club" style="overflow-y: auto;">
                      <br>
                        {% for i in events %}
                          <a class="btn btn-light btn-block event_option" id="{{i.event_name}}">
                            {{i.event_name}}
                          </a>
                        {% endfor %}
                      <br>
                    </div>
                    <div class="col-md-9" style="overflow-y: auto;">  
                      {% for i in events %}
                        {% for j in events_media %}
                          {% if i.id == j.event_id.id %}
                            <div class="container-fluid row {{i.event_name}} about_event" style="height:60vh;display:none;">
                                <div class="col-md-5" style="float:left;background-image: url('{{j.media.url}}');background-size: contain;box-shadow: 0 2px 15px rgba(0,0,0,0.6);border-radius: 12px;height:60vh;">
                                </div>
                                <div class="col-md-7" style="float:right;padding-left: 80px;">
                                  <br><br><br><br>
                                  <p><i class="fas fa-calendar-alt"></i>&nbsp; {{i.event_start_datetime}} - {{i.event_end_datetime}}</p>
                                  <p><b>Organizer :</b> {{i.club_id.club_name}} Club</p>
                                  <P><b>Event type :</b> {{i.event_type}}</p>
                                  <p><b>Limit :</b> {{i.event_limit}}</p>
                                  <p><b>Registered :</b> {{i.event_fill_status}}</p>
                                  <p><b>Venue :</b> {{i.event_venue}}</p>
                                </div>
                              </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </div>
                  <br>
                  <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                  <input type="text" id="selected_event" name="selected_event" value="" style="display:none">
                  <div class="modal-footer">
                    <input type="submit" value="Register" class="btn btn-info btn-block">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- JOIN CLUB MODAL -->
        <div class="modal fade" id="joinClubModal">
          <div class="modal-dialog modal-lg" id="join_club_modal">
            <div class="modal-content" style="width:90%">
              <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Join a Club</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'join' %}" method="POST">
                  {% csrf_token %}
                  <div class="container-fluid row" style="height:60vh;position:relative">
                    <div class="col-md-3 select_club" style="overflow-y: auto;">
                      <br>
                        {% for i in clubs_remain %}
                          <a class="btn btn-light btn-block club_option" id="{{i.club_name}}">
                            {{i.club_name}}
                          </a>
                        {% endfor %}
                      <br>
                    </div>
                    <div class="col-md-9" style="overflow-y: auto;"> 
                      {% for i in clubs_remain %}
                        <div class="{{i.club_name}} about_club" id="{{i.club_name}}" style="display:none;" style="height:60vh;padding:20px;">
                          <center>
                          {% if i.club_logo %}
                          <img src="{{i.club_logo.url}}" id="club_logo" style="height:95px;width:95px;border-radius: 12px;box-shadow: 0 3px 10px rgba(0,0,0,0.7);margin-top: 10px;">
                          {% else %}
                          <img src="" id="club_logo" style="height:95px;width:95px;border-radius: 25%;box-shadow: 0 0 5px rgba(0,0,0,0.5)">
                          {% endif %}
                          <br><br>
                          <h4>About the club:</h4>
                          <p style="text-align: justify;text-justify: inter-word;padding:20px">{{i.club_description}}</p>
                          <a href="{{i.club_tc.url}}" target="_blank">Terms & Conditions</a><br><br>
                          <input type="radio" class="agree" name="radio" value="agree">&nbsp;I agree &nbsp;
                          <input type="radio" class="disagree" name="radio" value="disagree">&nbsp;I don't agree<br>
                          </center>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <br>
                  <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                  <input type="text" id="selected_club" name="selected_club" value="" style="display:none">
                  <div class="modal-footer">
                    <input type="submit" value="Join" class="btn btn-success btn-block">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- PARTICIPATE IN POLLS -->
        <div class="modal fade" id="participatePollModal">
          <div class="modal-dialog modal-lg" id="join_club_modal">
            <div class="modal-content">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Cast your vote</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% for i in polls %}
                  <div class="card">
                    <div class="card-body">
                      <h5>{{i.poll_title}}</h5>
                      <h6>Ends on : {{i.end_datetime}}</h6>
                      
                      <form action="{% url 'participate_poll' %}" method="POST">
                        {% csrf_token %}

                        {% if i.poll_type == "Single" %}
                          {% for j in poll_options %}
                            {% if i.id == j.poll_id.id %}
                              <input type="radio" value="{{j.option}}" name="poll_{{i.id}}">&nbsp;{{j.option}}<br>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        
                        {% if i.poll_type == "Multiple" %}
                          {% for j in poll_options %}
                            {% if i.id == j.poll_id.id %}
                              <input type="checkbox" value="{{j.option}}" name="poll_{{i.id}}">&nbsp;{{j.option}}<br>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        
                        <input type="number" name="poll_id" value="{{i.id}}" style="display:none;">
                        <br>{% csrf_token %}
                        <input type="number" name="s_id" value="{{user.id}}" style="display:none;">
                        <input type="submit" class="btn btn-primary" value="Vote">  
                      </form>
                    </div>
                  </div>
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      <!-- NOTIFICATION MODAL -->
        <div class="modal fade" id="notificationModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Notifications</h5>
               
                <form action="{% url 'notifications_seen' %}" method="POST" >
                  {% csrf_token %}
                  <input type="number" name="s_id" value="{{user.id}}" style="display:none">
                  <input type="submit" class="close" value="&times;">
                </form>
              </div>
                
              <div class="modal-body">
                <h5> New </h5>
                <hr>
                <br>
                {% for notif in new_notifications %}
                  <div class="card">
                    <div class="card-body">
                      <!--<button class="close">
                        <i class="fas fa-trash"></i>
                      </button>-->
                      <h5 class="card-title">{{notif.notification_content}}</h5>
                      <p class="card-text">{{notif.notification_datetime}}</p>
                    </div>
                  </div>
                  <br>
                {% endfor %}
                <h5> Earlier </h5>
                <hr>
                {% for notif in old_notifications %}
                  <div class="card">
                    <div class="card-body">
                      <!--<button class="close">
                        <i class="fas fa-trash"></i>
                      </button>-->
                      <h5 class="card-title">{{notif.notification_content}}</h5>
                      <p class="card-text">{{notif.notification_datetime}}</p>
                    </div>
                  </div>
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

    <!--  JAVASCRIPT/ JQUERY -->
      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAd/n689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

      <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
              $('.slider').slider({full_width: true});
          });
      </script>
      
      <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());

        function on(){
          document.getElementById("overlay").style.display = "block";
        }

        function off(){
          document.getElementById("overlay").style.display = "none";
        }
        
        $('.close').click(function(){
          var $target = $(this).parents('.card');
          $target.hide('slow', function(){ $target.remove(); });
        });
        
        $('.club_option').click(function(){
          var cls = '.'+this.id;
          $('.about_club').css("display","none");
          $(cls).css("display","block");
        });

        $('input[type="radio"]').click(function(){
            selected_club = $(this).closest('div').attr('id');
            $('#selected_club').val(selected_club);
            
        });
        
        $('.event_option').click(function(){
          var cls = '.'+this.id;
          $('.about_event').css("display","none");
          $(cls).css("display","block");
          $('#selected_event').val(this.id);
        });        

      </script>

  </body>

</html>
